{% extends 'base.html' %}
{% load i18n %}
{% load thumbnail %}
{% get_current_language as LANGUAGE_CODE %}
{% block metatags %}
    {% if LANGUAGE_CODE == 'de' %}
        <title>{{ object.title_de }}</title>
    {% elif object.title %}
        <title>{{ object.title }}</title>
    {% endif %}
<meta property="og:title" content="{{ object.title }}">
<meta property="og:site_name" content="what.">
<meta property="og:url" content="{% url 'blog:post' object.slug %}">
<meta property="og:type" content="article">
{% endblock %}
{% block content %}
<style type="text/css">
#container img {
border-radius: 29px;
width: 100%;
height: 360px;
opacity: 0.7;
align-content: center;
}
#container img {
opacity: 1.0; }
a {text-align: center; text-decoration: none;}
.jumbotron {
    padding: 0;
}
</style>
<header class="jumbotron" style="background-color: #BDFFD3; color: #00308F;">
{% thumbnail object.thumbnail 1500x400 upscale crop as thumb %}
                                    <img src="{{ thumb|data_uri }}" style="width: 100%;">
</header>
<div class="container">
<div class="row">
<div class="col-md-6 left">
		<h1 class="card-title">{% block title %}
            {% if LANGUAGE_CODE == 'de' %}
                {{ object.title_de }}
            {% elif object.title %}
                {{ object.title }}
            {% endif %}
        {% endblock title %}</h1>
		<p class=" text-muted">{{ object.author.first_name }} {{ object.author.last_name }} |{{ object.created_on }}</p>

		{% for tag in object.tags.all %}
            <a href="#" class="badge badge-info" >{{ tag }}</a>
        {% endfor %}




		<p class="card-text">
            {% if LANGUAGE_CODE == 'de' %}
                {{ object.content_de | safe }}
            {% elif object.content %}
                {{ object.content | safe }}
            {% endif %}
        </p>



	</div>
	</div>
	</div>
{% endblock content %}
